<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#parse ($init)

#set ($company_url = $company_url + "/web/guest/home")
#set ($language_id = $user.getLanguageId())


<html dir="#language ("lang.dir")" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link type="text/css" href="/liferay-jedi-theme/javascript/jquery-ui-1.7.2/themes/base/jquery-ui-1.7.2.custom.css" rel="stylesheet" />
    <link type="text/css" href="/liferay-jedi-theme/css/socialshareprivacy.css" rel="stylesheet" />

 	<script type="text/javascript" src="/liferay-jedi-theme/javascript/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/liferay-jedi-theme/javascript/jquery-ui-1.10.3/js/jquery-ui-1.10.3.custom.min.js"></script>
	
 	<script type="text/javascript" src="/liferay-jedi-theme/javascript/swfobject.js"></script>	
 	<script type="text/javascript" src="/liferay-jedi-theme/javascript/jquery.scrollTo-1.4.2-min.js"></script>
  	
  	<script type="text/javascript" src="/liferay-jedi-theme/javascript/strobe/lib/ParsedQueryString.js"></script>
  	<script type="text/javascript" src="/liferay-jedi-theme/javascript/strobe/jsdemo.js"></script>
  	
  	<script type="text/javascript" src="/player/jwplayer/jwplayer.js"></script>
    
    <script type="text/javascript" src="/liferay-jedi-theme/javascript/strobe/jquery.strobemediaplayback.js"></script>
	<script type="text/javascript" src="/liferay-jedi-theme/javascript/strobe/jquery.strobemediaplaybackchrome.js"></script>
	
	<script type="text/javascript" src="/liferay-jedi-theme/javascript/jquery.socialshareprivacy.js"></script>
	<script type="text/javascript" src="/liferay-jedi-theme/javascript/selectboxit.js"></script>
	<script type="text/javascript" src="/liferay-jedi-theme/javascript/qrc.js"></script>
	
	<script type="text/javascript" src="/lecture2go-guest-spring-portlet/dwr/engine.js"></script>
	<script type="text/javascript" src="/lecture2go-guest-spring-portlet/dwr/util.js"></script>
	<script type="text/javascript" src="/lecture2go-guest-spring-portlet/dwr/interface/AutocompleteManager.js"></script>
	
	<script type="text/javascript" src="/liferay-jedi-theme/javascript/ajaxsearch.js"></script>
	<script type="text/javascript" src="/liferay-jedi-theme/javascript/jquery.cookie.js"></script>
	
	<title>$company_name - $the_title</title>

	$theme.include($top_head_include)

	#css ($css_main_file)

	
	<script type="text/javascript">
		// <![CDATA[
			$page_javascript_1
			$page_javascript_2
			$page_javascript_3
		// ]]>
	</script>

	#if ($company_logo != "")
		<style type="text/css">
			#banner .logo {
				padding: 0;
			}

			#banner .logo a {
				background: url($images_folder/l2go/uhh-logo-transp.png) no-repeat;
				display: block;
				font-size: 0;
				height: 124px;
				text-indent: -9999em;
				width: 359px;
			}
			.logo2 a {
				
				display: block;
				font-size: 0;
				height: 80px;
				text-indent: -9999em;
				width: 176px;
			}
			
			#ie6_png_fix ()
		</style>
	#end

	#set ($groupLocalService = $serviceLocator.findService("com.liferay.portal.service.GroupLocalService"))

	#set ($guestGroup = $groupLocalService.getGroup($company_id, "Guest"))

	#set ($journalTemplateLocalService = $serviceLocator.findService("com.liferay.portlet.journal.service.JournalTemplateLocalService"))

	#set ($journalTemplateId = $theme_settings.getProperty("css-template-id"))

	#if ($journalTemplateLocalService.hasTemplate($guestGroup.getGroupId(), $journalTemplateId))

		## Instead of reference the URL, just insert the content to save an
		## extra HTTP request.

		## <link rel="stylesheet" type="text/css" href="$theme_display.getPathMain()/journal/get_template?groupId=$guestGroup.getGroupId()&templateId=$journalTemplateId" />-->

		#set ($journalTemplate = $journalTemplateLocalService.getTemplate($guestGroup.getGroupId(), $journalTemplateId))

		<style type="text/css">
			#set ($cssTemplate = $journalTemplate.getXsl())
			#set ($cssTemplate = $stringUtil.replace($cssTemplate, "@root_path@", $themeDisplay.getPathContext()))
			#set ($cssTemplate = $stringUtil.replace($cssTemplate, "@image_path@", $themeDisplay.getPathImage()))
			#set ($cssTemplate = $stringUtil.stripBetween($cssTemplate, "/*", "*/"))

			$cssTemplate
		</style>
	#end
</head>

<body class="$css_class">

$theme.include($top_messages_include)

<div id="wrapper">
	<div id="banner">
		<h1 class="logo">
			<a title="Universit&auml;t Hamburg" alt="Universit&auml;t Hamburg" class="png" href="http://www.uni-hamburg.de">$company_name</a>
		</h1>
		
		<a title="home" alt="home" href="/l2gos">
			<img id ="l2g-logo" src="/liferay-jedi-theme/images/l2go/l2go_logo_transp.png" />
		</a>

		#parse ("$full_templates_path/dock.vm")
<!--
		#if ($group_id == $guestGroup.getGroupId())
			<div class="search">
				$theme.journalContentSearch()
			</div>
		#end
-->
		#if ($update_available_url)
			<div class="popup-alert-notice">
				<a class="update-available" href="$update_available_url">#language ("updates-are-available-for-liferay")</a>
			</div>
		#end

		<div id="top-menu">	
			#if ($show_sign_in)
				<a href="$sign_in_url">$sign_in_text</a>
				
				&nbsp;&nbsp;&nbsp;	
			
				<span><a href="javascript: submitForm(document.hrefFm, '/web/lecture2go/l2gos%3Fp_p_id%3D82%26p_p_lifecycle%3D1%26p_p_state%3Dnormal%26p_p_mode%3Dview%26p_p_col_id%3Dcolumn-1%26p_p_col_count%3D1%26_82_struts_action%3D%252Flanguage%252Fview%26languageId%3Dde_DE');" target="">DE</a></span><a style="color:#727272;">|</a><span><a href="javascript: submitForm(document.hrefFm, '/web/lecture2go/l2gos%3Fp_p_id%3D82%26p_p_lifecycle%3D1%26p_p_state%3Dnormal%26p_p_mode%3Dview%26p_p_col_id%3Dcolumn-1%26p_p_col_count%3D1%26_82_struts_action%3D%252Flanguage%252Fview%26languageId%3Den_US');" target="">EN</a></span>					
			#end

			#if ($show_my_account)
				<a href="$my_account_url">$my_account_text</a>
			#end
	
			#if ($show_sign_out)
				| <a href="$sign_out_url">$sign_out_text</a>
			#end			
			
			<div id="suche"> 
				<form  method="POST" action="/web/lecture2go/search?p_p_id=guestSearch_WAR_lecture2goguestspringportlet&amp;p_p_lifecycle=1&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1">	
					<input name="search" type="text" 
					#if ($themeDisplay.getLanguageId() == "de_DE")
						placeholder="Suche" 
					#elseif ($themeDisplay.getLanguageId() == "en_US")
						placeholder="Search" 
					#end
					autocomplete="off" value="" title="" class="text" id="search-term" name="_3_keywords">
				</form>
			</div>
		</div>
	</div>

	#if ($has_navigation)
		#parse ("$full_templates_path/navigation.vm")
	#end

	<div id="back-container">
		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end

		<div id="footer">
			<!--
				<p class="copyright-notice">&copy; 2000-$the_year $company_name</p>
			-->
			
			<p style="color: #C2C2C2;" class="impressum"> 
				<a href="/web/lecture2go/disclaimer" class="link" title="Rechtliche Hinweise" target="_self"><em class="white">Disclaimer</em></a> | 
				<a href="/web/lecture2go/impressum" title="Impressum" class="link" target="_self"><em class="white">Impressum</em></a>
			</p>
			
			<div id="social">
				<p>
					<a href="http://twitter.com/#!/Lecture2Go" title="Twitter" target="blank">
						<img class="tw" src="/liferay-jedi-theme/images/l2go/tw.png" height="15" alt="facebook"/>
					</a>
					<a href="http://www.facebook.com/pages/Hamburg-Germany/Lecture2Go/201731849859567" title="Facebook" target="blank">
						<img class="fb" src="/liferay-jedi-theme/images/l2go/fb.png" height="15" alt="facebook"/>
					</a>
				</p>
			</div>

			<div id="poweredby">
				Powered by <a href="http://www.liferay.com" target="_blank">Liferay Portal</a>
			</div>
<!--
			<div class="footer-award-images">
				#set ($journalArticleLocalService = $serviceLocator.findService("com.liferay.portlet.journal.service.JournalArticleLocalService"))

				#set ($journalArticleId = $theme_settings.getProperty("footer-article-id"))

				#if ($journalArticleLocalService.hasArticle($guestGroup.getGroupId(), $journalArticleId))
					$velocityPortletPreferences.setValue("portlet-setup-show-borders", "false")
					$velocityPortletPreferences.setValue("group-id", "$guestGroup.getGroupId()")
					$velocityPortletPreferences.setValue("article-id", $journalArticleId)

					$theme.runtime("56_INSTANCE_a453", "", $velocityPortletPreferences.toString())

					$velocityPortletPreferences.reset()
				#end
			</div>

			#if ($has_navigation)
				#parse ("$full_templates_path/bottom_navigation.vm")
			#end
-->
		</div>
	</div>
</div>

</body>

#js ($js_main_file)

$theme.include($bottom_include)

</html>