<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>servlet-file-download</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<display-name>Lecture2GoDownload</display-name>
		<servlet-name>Lecture2GoDownload</servlet-name>
		<servlet-class>DownloadManager</servlet-class>
		<init-param>
			<param-name>repositoryRoot</param-name>
			<param-value>/Users/isturm/Desktop/l2gomedia</param-value>
		</init-param>
		<init-param>
			<param-name>downloadServerName</param-name>
			<param-value>localhost</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Lecture2GoDownload</servlet-name>
		<url-pattern>/getFile</url-pattern>
	</servlet-mapping>

</web-app>