<?xml version="1.0"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>lecture2go-portlet</display-name>
	<context-param>
		<param-name>portalContextConfigLocation</param-name>
		<param-value>/WEB-INF/classes/META-INF/messaging-spring.xml</param-value>
	</context-param>
	<context-param>
		<param-name>axis.servicesPath</param-name>
		<param-value>/api/axis/</param-value>
	</context-param>
	<filter>
		<filter-name>Invoker Filter - ERROR</filter-name>
		<filter-class>com.liferay.portal.kernel.servlet.filters.invoker.InvokerFilter</filter-class>
		<init-param>
			<param-name>dispatcher</param-name>
			<param-value>ERROR</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>Invoker Filter - FORWARD</filter-name>
		<filter-class>com.liferay.portal.kernel.servlet.filters.invoker.InvokerFilter</filter-class>
		<init-param>
			<param-name>dispatcher</param-name>
			<param-value>FORWARD</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>Invoker Filter - INCLUDE</filter-name>
		<filter-class>com.liferay.portal.kernel.servlet.filters.invoker.InvokerFilter</filter-class>
		<init-param>
			<param-name>dispatcher</param-name>
			<param-value>INCLUDE</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>Invoker Filter - REQUEST</filter-name>
		<filter-class>com.liferay.portal.kernel.servlet.filters.invoker.InvokerFilter</filter-class>
		<init-param>
			<param-name>dispatcher</param-name>
			<param-value>REQUEST</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Invoker Filter - ERROR</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Invoker Filter - FORWARD</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Invoker Filter - INCLUDE</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Invoker Filter - REQUEST</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<listener>
		<listener-class>com.liferay.portal.kernel.servlet.PluginContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.liferay.portal.kernel.servlet.SerializableSessionAttributeListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>view-servlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.ViewRendererServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>lgfrontpage Servlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>de.uhh.l2g.plugins.guest.FrontPage</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>lgopenaccessvideos Servlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>de.uhh.l2g.plugins.guest.OpenAccessVideos</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>lgadminvideomanagement Servlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>de.uhh.l2g.plugins.admin.AdminVideoManagement</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>lgadminlectureseriesmanagement Servlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>de.uhh.l2g.plugins.admin.AdminLectureSeriesManagement</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>lgadminusermanagement Servlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>de.uhh.l2g.plugins.admin.AdminUserManagement</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>lgadmininstitutionmanagement Servlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>de.uhh.l2g.plugins.admin.AdminInstitutionManagement</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>lgadminstreamingservermanagement Servlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>de.uhh.l2g.plugins.admin.AdminStreamerManagement</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>lgadmincreatorsmanagement Servlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>de.uhh.l2g.plugins.admin.CreatorsManagement</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>lgadmintermsmanagement Servlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>de.uhh.l2g.plugins.admin.TermsManagement</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>lgadminthreadmanagement Servlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>de.uhh.l2g.plugins.admin.ThreadManagement</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>lgadmincategorymanagement Servlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>de.uhh.l2g.plugins.admin.CategoryManagement</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>lgstatisticmanagement Servlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>de.uhh.l2g.plugins.admin.StatisticManagement</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Dynamic Resource Servlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortalClassLoaderServlet</servlet-class>
		<init-param>
			<param-name>servlet-class</param-name>
			<param-value>com.liferay.portal.webserver.DynamicResourceServlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Atom Servlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortalClassLoaderServlet</servlet-class>
		<init-param>
			<param-name>servlet-class</param-name>
			<param-value>com.liferay.portal.servlet.AtomServlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Axis Servlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortalClassLoaderServlet</servlet-class>
		<init-param>
			<param-name>servlet-class</param-name>
			<param-value>com.liferay.portal.servlet.AxisServlet</param-value>
		</init-param>
		<init-param>
			<param-name>use-portlet-class-loader</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>JSON Servlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortalClassLoaderServlet</servlet-class>
		<init-param>
			<param-name>servlet-class</param-name>
			<param-value>com.liferay.portal.servlet.JSONServlet</param-value>
		</init-param>
		<init-param>
			<param-name>use-portlet-class-loader</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>JSON Web Service Servlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortalClassLoaderServlet</servlet-class>
		<init-param>
			<param-name>servlet-class</param-name>
			<param-value>com.liferay.portal.jsonwebservice.JSONWebServiceServlet</param-value>
		</init-param>
		<init-param>
			<param-name>use-portlet-class-loader</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>view-servlet</servlet-name>
		<url-pattern>/WEB-INF/servlet/view</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>lgfrontpage Servlet</servlet-name>
		<url-pattern>/lgfrontpage/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>lgopenaccessvideos Servlet</servlet-name>
		<url-pattern>/lgopenaccessvideos/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>lgadminvideomanagement Servlet</servlet-name>
		<url-pattern>/lgadminvideomanagement/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>lgadminlectureseriesmanagement Servlet</servlet-name>
		<url-pattern>/lgadminlectureseriesmanagement/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>lgadminusermanagement Servlet</servlet-name>
		<url-pattern>/lgadminusermanagement/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>lgadmininstitutionmanagement Servlet</servlet-name>
		<url-pattern>/lgadmininstitutionmanagement/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>lgadminstreamingservermanagement Servlet</servlet-name>
		<url-pattern>/lgadminstreamingservermanagement/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>lgadmincreatorsmanagement Servlet</servlet-name>
		<url-pattern>/lgadmincreatorsmanagement/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>lgadmintermsmanagement Servlet</servlet-name>
		<url-pattern>/lgadmintermsmanagement/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>lgadminthreadmanagement Servlet</servlet-name>
		<url-pattern>/lgadminthreadmanagement/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>lgadmincategorymanagement Servlet</servlet-name>
		<url-pattern>/lgadmincategorymanagement/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>lgstatisticmanagement Servlet</servlet-name>
		<url-pattern>/lgstatisticmanagement/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Dynamic Resource Servlet</servlet-name>
		<url-pattern>/sprite/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Atom Servlet</servlet-name>
		<url-pattern>/api/atom/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Axis Servlet</servlet-name>
		<url-pattern>/api/axis/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JSON Servlet</servlet-name>
		<url-pattern>/api/json/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JSON Web Service Servlet</servlet-name>
		<url-pattern>/api/jsonws/*</url-pattern>
	</servlet-mapping>
	<jsp-config>
		<taglib>
			<taglib-uri>http://liferay.com/tld/aui</taglib-uri>
			<taglib-location>/WEB-INF/tld/aui.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/portlet_2_0</taglib-uri>
			<taglib-location>/WEB-INF/tld/liferay-portlet.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://liferay.com/tld/portlet</taglib-uri>
			<taglib-location>/WEB-INF/tld/liferay-portlet-ext.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://liferay.com/tld/security</taglib-uri>
			<taglib-location>/WEB-INF/tld/liferay-security.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://liferay.com/tld/theme</taglib-uri>
			<taglib-location>/WEB-INF/tld/liferay-theme.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://liferay.com/tld/ui</taglib-uri>
			<taglib-location>/WEB-INF/tld/liferay-ui.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://liferay.com/tld/util</taglib-uri>
			<taglib-location>/WEB-INF/tld/liferay-util.tld</taglib-location>
		</taglib>
	</jsp-config>
</web-app>